.c5{

}
.c5-wrapper{
margin-top: 5rem;
display: flex;
flex-direction: column;
gap: 3rem;
}
.c5-wrap{
 display: flex;
 align-items: flex-start;
 gap: 2rem;
}
.c5-item{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 1.2rem;
}
.c5-title{
font-family: var(--font-family);
font-weight: 400;
font-size: 1.6rem;
line-height: 112%;
text-transform: uppercase;
color: #4b9cff;
}
.c5-text{
    font-family: var(--font-family);
font-weight: 400;
font-size: 1.6rem;
line-height: 112%;
color: #fff;
}