.c3{

}
.c3-second-title{
    font-family: var(--font-family);
font-weight: 400;
font-size: 1.8rem;
line-height: 111%;
text-transform: uppercase;
text-align: center;
color: #fff;
margin-top: 3rem;
}
.c3-wrapper{
    background-image: url(../../images/c3-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 36.6rem;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    margin-top: -5rem;
}
.c3-wrap{
    margin-top: 2.2rem;
}
.c3-item{
    display: flex;
    align-items: center;
    gap: 1.3rem;
    padding-left: 3rem;
}
.c3-item img{
    width: 2.8rem;
    height: 2.8rem;
}
.c3-item p{

}
.c3-div{
    width: 100%;
    height: 13rem;
    background-image: url(../../images/c3-div.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 2.2rem 0 0 18.7rem;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 120%;
    text-transform: uppercase;
    color: #4d4837;
    margin-top: 4rem;
}